/* algunos ejemplos con CSS */
body, header, footer, div, h1, h2, ul, li, a {
	margin:0; padding:0;
}
header {
	background-color:#28B463;
	color:black;
	height: 30px;
}
nav ul li a{
	text-decoration:none;
	color:red;
	margin:10px;

}

nav ul li {
	float: left;
	list-style: none;

}
.activo {
  font-weight: bold;

}
.impar {
	background-color:#90EE90;
}
.par {
	background-color:#5ACC5A;
}

