{% extends 'base.html' %}




{% block contenido %}

{% include "header.html" %}



<div class='container'>

  <div style='height:20px;'></div>

    <form id='formulario' method='POST' action='/datitos/' enctype="multipart/form-data">
    {% csrf_token %}
    

      <div class='row'>
                


            {% for field in datos %}
                  
              <div class="form-group col-md-2">


                  {{ field.label_tag }} {{ field }} 

                  
              </div>
            {% endfor %}

      </div>
      <nav>
        <ul>
          <li> <p><input class='btn btn-dark' type='submit' value='Guardar'/></p></li>
          <li> <button type="button" class="btn btn-dark" ><a href="{% url 'export_users_csv' %}">EXPORTAR</a></button></li>
          <li></li>
        </ul>
      </nav>
      
      


  </form>

  <a href="{% url 'export_users_csv' %}">Export all users</a>

<!-- MIS modales-->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Open modal for @mdo</button>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@fat">Open modal for @fat</button>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">Open modal for @getbootstrap</button>






<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">


  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">


        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Recipient:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Send message</button>
      </div>

    </div>

  </div>

</div>
<!-- MIS modales-->
  <table class="table">
  <thead class="bg-danger">
    <tr>
      <th scope="col">ID</th>

      <th scope="col">Fecha</th>
      <th scope="col">id_cuota  ({{cuotas}})</th>
      <!-- <th scope="col">agente</th> -->
      <th scope="col">monto  ({{suma}})</th>
      <th scope="col">ticket</th>
      <!-- <th scope="col">total</th> -->
      <!-- <th scope="col">Reason</th>
      <th scope="col">Comments</th>
      <th scope="col">Time Inter</th> -->

    </tr>
<!--   </thead>
    <thead class="bg-primary">
    <tr>
      <th scope="col">###</th>

      <th scope="col">###</th>
      <th scope="col">{{cuotas}}</th>
      <th scope="col">{{suma}}</th>
       <th scope="col">#</th>
      <th scope="col">#</th>
      <th scope="col">{{suma}}</th>
      <th scope="col">Reason</th>
      <th scope="col">Comments</th>
      <th scope="col">Time Inter</th>

    </tr>
  </thead> -->
  {% for l in dato%}
  <tbody>
    <tr>
      <th scope="row">{{l.id}}</th>

      <td>{{l.fecha}}</td>
      <td>{{l.id_cuota}}</td>
    <!--   <td>{{l.agente}}</td> -->

      <td>{{l.monto}}</td>


      <!--td>{{l.ticket}}</td-->

      <td><a href="{{ l.ticket.url}}">{{l.ticket.name}}</a></td>
        

     <!--  <td>{{suma}}</td> -->

      <!--label>{{l.monto}}+{{l.total}}+</label-->


      <!--   <script type="text/javascript">

        var monto={{l.monto}};
        var laSuma =0



        var laSuma=laSuma+{{l.monto}};
        console.log(laSuma)
        for 
        </script> -->
                         
    </tr>
   
  </tbody>


  {% endfor %}
  
</table>



  

</div>

 

<!-- Footer -->



  <p>
	  Actualmente tenemos registradas: 
     {% with total=recetas.count %} 
		{{total}} receta{{total|pluralize}}
	 {% endwith %}
  </p>
	<ul>		
	  {% for dato in recetas %}
	  <li class="{% cycle 'impar' 'par' %}">{{dato.titulo|title}}</li>
	  {% empty %}
	  <li>No hay recetas registradas aún.</li>
	  {% endfor %}
	</ul>
{% endblock %}